<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.accessdata">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondLoadActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".OrtherActivity"
            android:label="@string/title_activity_orther_s"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".receiver.NetworkReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".DataActivity" />
        <activity android:name=".BackStackActivity" />
        <activity android:name=".InflateActivity" />
        <activity android:name=".CustomizeFunctionActivity" />
        <activity android:name=".UiActivity" />

        <service
            android:name=".services.ExService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.DownloadService"
            android:exported="false" />

        <activity android:name=".ExServiceActivity"></activity>
    </application>

</manifest>